<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-hijo2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `element-hijo2`
     * El segundo hijo el cual va a tener una lista y una tabla
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementHijo2 extends Polymer.Element {
      static get is() { return 'element-hijo2'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'element-hijo2'
          }
        };
      }
    }

    window.customElements.define(ElementHijo2.is, ElementHijo2);
  </script>
</dom-module>
