<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="element-hijo2">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    
    <div id="lista">
    <ul class$="[[config.status]]">
      <li>[[nombre]]</li>
      <li>[[apellido]]</li>
      <li>[[edad]]</li>
    </ul>
    </div>

    <div id="tabla">
    <table>
      <tr>
        <td>Campo 1</td>
        <td>Campo 2</td>
      </tr>
      <tr>
        <td>Renglon 1</td>
        <td>Renglon 1</td>
      </tr>
      <tr>
        <td>Renglon 2</td>
        <td>Renglon 2</td>
      </tr>
    </table>
    </div>
  </template>

  <script>
    /**
     * `element-hijo2`
     * El segundo hijo el cual va a tener una lista y una tabla
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElementHijo2 extends Polymer.Element {
      static get is() { return 'element-hijo2'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: 'Giovanni'
          },
          apellido:{
            type: String,
            value: 'Peña'
          },
          edad:{
            type: String,
            value: '28'
          }
        };
      }
    }

    window.customElements.define(ElementHijo2.is, ElementHijo2);
  </script>
</dom-module>
